## Step 1 - Data Engineering

In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
# Name of csv files
file_1 = ("hawaii_measurements.csv")
file_2 = ("hawaii_stations.csv")

In [3]:
# Read measurements csv to pandas then preview the dataframe
m_df = pd.read_csv(file_1, encoding = "ISO-8859-1")
m_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
# Count how many values are null
m_df.isnull().sum()

station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [5]:
# Fill in all null values in meausurement data with mean value for column
m_df.fillna(m_df.mean(), inplace=True)
m_df.head()

       station        date      prcp  tobs
0  USC00519397  2010-01-01  0.080000    65
1  USC00519397  2010-01-02  0.000000    63
2  USC00519397  2010-01-03  0.000000    74
3  USC00519397  2010-01-04  0.000000    76
4  USC00519397  2010-01-06  0.160644    73

In [6]:
# Count how many values are null
m_df.isnull().sum()

station    0
date       0
prcp       0
tobs       0
dtype: int64

In [7]:
# Read stations csv to pandas then preview dataframe
s_df = pd.read_csv(file_2, encoding = "ISO-8859-1")
s_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [8]:
m_df.to_csv("clean_hawaii_measurements.csv", index=False)
s_df.to_csv("clean_hawaii_stations.csv", index=False)